@import 'bulma/bulma';

$spacing-range-start: 0;
@import 'bulma-helpers/bulma-helpers';

@import 'bulma-divider/src/sass/index';
@import 'bulma-tooltip/src/sass/index';
@import 'bulma-steps/src/sass/index';
@import 'bulma-switch/src/sass/index';

/*
 * HTML
 */

html.is-fullwidth {
  .footer > .container,
  .navbar > .container,
  main.container {
    max-width: none;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*
 * Screen Rules
 */

@media screen {
  #is-site-layout {
    min-height: calc(100vh - 20px);
  }


  .fixed-container {
    position: fixed;
    z-index: 30;
    display: inline-block;

    &.is-fixed-bottom-right {
      right: 0;
      bottom: 0;
    }

    &.is-fixed-bottom {
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .is-hidden-screen {
    display: none !important;
  }
}

/*
 * Print Rules
 */

@media print {
  .is-hidden-print,
  nav.breadcrumb {
    display: none !important;
  }

  .is-block-print {
    display: block !important;
  }

  .is-full-print {
    flex: none;
    width: 100% !important;
  }

  html.has-navbar-fixed-top {
    padding-top: 0;
  }

  .is-static-print {
    position: static !important;
  }
}

/*
 * Side Menu
 */

.menu-list {
  a {
    display: flex;
  }

  .icon {
    margin-right: 5px;
  }
}

/*
 * Circle Button
 */

.button.is-circle {
  width: 2.2em;
  height: 2.2em;
  font-size: 2em;
  border-radius: 50%;
}

/*
 * Form elements
 */

.textarea {
  resize: vertical;
}

.input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

.is-readonly {
  cursor: not-allowed !important;
  background-color: $light !important;
}

select.is-readonly {
  pointer-events: none;
}

/*
 * Tables
 */

.table.is-fixed {
  table-layout: fixed;
}

/*
 * Helpers
 */

 .has-height-auto {
   height: auto;
 }

 .has-newline-chars {
   white-space: pre-wrap;
 }

 .is-nowrap {
   white-space: nowrap;
 }
