@import 'bulma/bulma';

$enable-media-queries: false;
@import 'bulma-helpers/sass/variables/all';
@import 'bulma-helpers/sass/mixins/all';

@import 'bulma-helpers/sass/helpers/border/all';
@import 'bulma-helpers/sass/helpers/cursor/all';
@import 'bulma-helpers/sass/helpers/flex/all';
@import 'bulma-helpers/sass/helpers/misc/all';
@import 'bulma-helpers/sass/helpers/sizing/all';
// @import "bulma-helpers/sass/helpers/spacing/all";

// @import 'bulma-helpers/sass/helpers/media-queries/flex/all';
// @import 'bulma-helpers/sass/helpers/media-queries/sizing/all';
// @import 'bulma-helpers/sass/helpers/media-queries/spacing/all';

@import 'bulma-divider/src/sass/index';
@import 'bulma-tooltip/src/sass/index';
@import 'bulma-steps/src/sass/index';
@import 'bulma-switch/src/sass/index';

@import '@cityssm/bulma-cool-checkboxes/bulma-cool-checkboxes';

/*
 * HTML
 */

html.is-fullwidth {
  .footer > .container,
  .navbar > .container,
  main.container {
    max-width: none;
    padding-right: 15px;
    padding-left: 15px;
  }
}

/*
 * Screen Rules
 */

@media screen {
  #is-site-layout {
    min-height: calc(100vh - 20px);
    margin-bottom: 0;

    & > :last-child {
      padding-bottom: 1rem;
    }
  }

  .fixed-container {
    position: fixed;
    z-index: 30;
    display: inline-block;

    &.is-fixed-bottom-right {
      right: 0;
      bottom: 0;
    }

    &.is-fixed-bottom {
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  .is-hidden-screen {
    display: none !important;
  }
}

/*
 * Print Rules
 */

@media print {
  .is-hidden-print,
  nav.breadcrumb {
    display: none !important;
  }

  .is-block-print {
    display: block !important;
  }

  .is-full-print {
    flex: none;
    width: 100% !important;
  }

  html.has-navbar-fixed-top {
    padding-top: 0;
  }

  .is-static-print {
    position: static !important;
  }
}

/*
 * Side Menu
 */

.menu-list {
  a {
    display: flex;
  }

  .icon {
    margin-right: 5px;
  }
}

/*
 * Circle Button
 */

.button.is-circle {
  width: 2.2em;
  height: 2.2em;
  font-size: 2em;
  border-radius: 50%;
}

/*
 * Form elements
 */

.textarea {
  resize: vertical;
}

.input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

.is-readonly {
  cursor: not-allowed !important;
  background-color: $light !important;
}

select.is-readonly {
  pointer-events: none;
}

/*
 * Tables
 */

.table.is-fixed {
  table-layout: fixed;
}


/*
 * Helpers
 */

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.has-height-auto {
  height: auto;
}

.has-width-1 {
  width: 1px !important;
}

.has-newline-chars {
  white-space: pre-wrap;
}

.is-nowrap {
  white-space: nowrap;
}

.is-wrap {
  white-space: normal;
}
